<div class="result-pane--question-result-pane--sIcOh result-pane--accordion-panel--TEJg7">
    <div class="result-pane--question-header-wrapper--3DCpC">
        <div class="result-pane--question-header--pTUOx">
   <span class="result-pane--question-header-collapsed-text--WVdEr"><span class="result-pane--pane-title--f-2kd ud-heading-md"><span data-purpose="question-result-header-status-icon" class="result-pane--answer-status-icon--ebl6C"><span class="result-pane--question-icon-background--AskFJ" data-purpose="question-result-header-status-icon-background" style="background: oklch(0.9759 0.0029 264.54);">
       <svg aria-hidden="true" focusable="false" class="ud-icon ud-icon-medium" style="color: oklch(0.6671 0.2202 28.6);">
        <use xlink:href="#icon-error"></use>
       </svg>
      </span></span><span>Question 1</span><span data-purpose="question-result-header-status-label" style="color: oklch(0.5573 0.2161 29.71);">Incorrect</span></span>
    <button type="button" class="ud-btn ud-btn-large ud-btn-ghost ud-heading-md ud-btn-icon ud-btn-icon-large">
     <svg aria-hidden="true" focusable="false" class="ud-icon ud-icon-medium ud-icon-color-neutral">
      <use xlink:href="#icon-collapse"></use>
     </svg>
    </button></span>
            <div data-purpose="safely-set-inner-html:rich-text-viewer:html" class="result-pane--question-format--PBvdY ud-text-md rt-scaffolding" id="question-prompt">
                <p>Which of the following libraries are provided by the <code>spring-boot-starter-test</code>&nbsp; ? (select 3)</p>
            </div>
        </div>
    </div>
    <div class="result-pane--question-result-pane-expanded-content--Og5Vc">
        <div class="result-pane--answer-result-pane--Niazi">
            <div class="answer-result-pane--answer-correct--PLOEU" data-purpose="answer">
       <use xlink:href="#icon-checkbox-filled"></use>
                <div data-purpose="safely-set-inner-html:rich-text-viewer:html" class="ud-heading-md rt-scaffolding" id="answer-text">
                        <p>Mockito</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-pane--answer-result-pane--Niazi">
            <div class="answer-result-pane--answer-correct--PLOEU" data-purpose="answer">
                <div>
                    <span data-purpose="answer-result-header-user-label" class="result-pane--answer-by-user-label--PSH86 ud-heading-xs" style="background: oklch(0.8101 0.0873 162.22); color: oklch(0.3072 0.0555 158.67);">Your selection is correct</span>
                </div>
                <div class="answer-result-pane--answer-body--cDGY6" data-purpose="answer-body">
     <span data-purpose="answer-result-body-selection-icon" class="answer-result-pane--answer-selection-icon--O6Xkn">
      <svg aria-hidden="true" focusable="false" class="ud-icon ud-icon-small" style="color: oklch(0.2565 0.0265 278.04);">
       <use xlink:href="#icon-checkbox-filled"></use>
      </svg>
     </span>
                    <div data-purpose="safely-set-inner-html:rich-text-viewer:html" class="ud-heading-md rt-scaffolding" id="answer-text">
                        <p>JUnit</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-pane--answer-result-pane--Niazi">
            <div class="answer-result-pane--answer-correct--PLOEU" data-purpose="answer">
                <div>
                    <span data-purpose="answer-result-header-user-label" class="result-pane--answer-by-user-label--PSH86 ud-heading-xs" style="background: oklch(0.8101 0.0873 162.22); color: oklch(0.3072 0.0555 158.67);">Correct selection</span>
                </div>
                <div class="answer-result-pane--answer-body--cDGY6" data-purpose="answer-body">
     <span data-purpose="answer-result-body-selection-icon" class="answer-result-pane--answer-selection-icon--O6Xkn">
      <svg aria-hidden="true" focusable="false" class="ud-icon ud-icon-small" style="color: oklch(0.2565 0.0265 278.04);">
       <use xlink:href="#icon-checkbox-empty"></use>
      </svg>
     </span>
                    <div data-purpose="safely-set-inner-html:rich-text-viewer:html" class="ud-heading-md rt-scaffolding" id="answer-text">
                        <p>Hamcrest</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-pane--answer-result-pane--Niazi">
            <div class="answer-result-pane--answer-skipped--1NDPn" data-purpose="answer">
                <div class="answer-result-pane--answer-body--cDGY6" data-purpose="answer-body">
     <span data-purpose="answer-result-body-selection-icon" class="answer-result-pane--answer-selection-icon--O6Xkn">
      <svg aria-hidden="true" focusable="false" class="ud-icon ud-icon-small" style="color: oklch(0.6722 0.0355 279.77);">
       <use xlink:href="#icon-checkbox-empty"></use>
      </svg>
     </span>
                    <div data-purpose="safely-set-inner-html:rich-text-viewer:html" class="ud-heading-md rt-scaffolding" id="answer-text">
                        <p>PowerMock</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-pane--question-related-fields--c3m--">
            <div class="overall-explanation-pane--overall-explanation--G-hLQ ud-form-group">
                <label class="ud-heading-md ud-form-label ud-heading-sm" for="form-group--83">Overall explanation</label>
                <div data-purpose="safely-set-inner-html:rich-text-viewer:html" class="ud-text-md rt-scaffolding" id="overall-explanation">
                    <p><strong>Test scope dependencies</strong></p>
                    <p>If you extend your Maven project from the <code>spring-boot-starter-parent</code> POM, or use the <code>spring-boot-starter-test</code> “Starter POM” (in the <code>test</code> <code>scope</code>), you will find the following provided libraries:</p>
                    <ul>
                        <li>
                            <p>JUnit — The de-facto standard for unit testing Java applications.</p>
                        </li>
                        <li>
                            <p>Hamcrest — A library of matcher objects (also known as constraints or predicates) allowing <code>assertThat</code> style JUnit assertions.</p>
                        </li>
                        <li>
                            <p>Mockito — A Java mocking framework.</p>
                        </li>
                    </ul>
                    <p>These are common libraries that we generally find useful when writing tests. You are free to add additional test dependencies of your own if these don’t suit your needs.</p>
                    <p>
                        <br>
                    </p>
                    <p><a href="https://docs.spring.io/spring-boot/docs/1.0.x-SNAPSHOT/reference/html/boot-features-testing.html#boot-features-test-scope-dependencies">https://docs.spring.io/spring-boot/docs/1.0.x-SNAPSHOT/reference/html/boot-features-testing.html#boot-features-test-scope-dependencies</a></p>
                </div>
            </div>
            <div data-purpose="domain-pane" class="domain-pane--domain-pane--Pw9dK">
                <div class="domain-pane--domain-pane-header--2263m ud-heading-md">Domain</div>
                <div class="ud-text-md">Testing</div>
            </div>
        </div>
    </div>
</div>